body {
    margin: 0;
    text-align: center;
    background-color: #21209c;
}
h1 {
    font-size: 5em;
    margin: 10% auto 0 auto;
    font-family: "Reenie Beanie", cursive;
    color: #fdb827;
}

h2 {
    font-size: 2.5rem;
    color: #21209c;
}
h3 {
    color: #23120b;
    font-size: 1.2rem;
    text-decoration: underline;
}
p {
    font-family: "Rubik", sans-serif;
    /* font-family: "DM Serif Display", serif; */
    font-size: 1rem;
    padding-bottom: 5%;
}
a {
    color: #34626c;
    margin: 0 10px;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}

hr {
    border-top: 4px dotted #23120b;
    width: 10%;
}

.top-container {
    /* background-color: #9ba4b4; */
    background-color: #21209c;
    /* padding-top: 100px; */
    height: 100vh;

    line-height: normal;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

/* .top-cloud:hover {
    height: 100px;
    opacity: 50%;
} */

.bottom-cloud {
    position: absolute;
    left: 300px;
}

.dog-img {
    width: 30%;
}

.top-container h2 {
    font-size: 2rem;
    color: #e8e8e8;
    font-family: "Oswald", sans-serif;
    margin-bottom: 40px;
    font-weight: normal;
}

.navbar {
    /* padding: 0 0 3.5rem; */
    text-align: left;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.position-fixed {
    position: fixed;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.nav-item {
    padding: 0 18px;
}
.nav-link {
    /* font-family: "Montserrat"; */
    font-size: 1rem;
    font-weight: lighter;
}

.nav-link:hover {
    text-decoration: underline;
    font-weight: normal;
}

#profile {
    padding-top: 7%;
    margin: 0 auto 50px auto;
    width: 50%;
}

.profile-pic {
    padding-bottom: 5%;
    width: 40%;
}

#projects {
    display: inline;
    padding: 5%;
}

.project-grid {
    display: flex;
    padding: 3%;
}

.project {
    margin: 2%;
    width: 30%;
}

.project img {
    margin-bottom: 7%;
}

.image-board {
    width: 80%;
    height: auto;
}
#skills {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fdb827;
}
.interests {
    height: 150px;
    margin-right: 50px;
}

.skill-row {
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.laptop {
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 30px;
}

.interests-ski {
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;
}
.middle-container {
    background-color: #e8e8e8;
    margin: 0;
    padding-bottom: 20px;
}

#contact {
    padding-top: 5%;
    padding-bottom: 2%;
}

.bottom-container {
    padding-top: 20px;
    background-color: #21209c;
    height: 20vh;
    position: relative;
    bottom: 0;
}

.copyright {
    font-size: 0.8rem;
    color: #e8e8e8;
    padding-bottom: 2%;
}

.link-top {
    font-size: 0.8rem;
    text-decoration: none;
    color: #e8e8e8;
    margin-bottom: 10px;
}

.link-top:hover {
    text-decoration: none;
}
